{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shopping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="{% static 'images/icons/favicon.png' %}"/>
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

<style>
.icon-header-noti::after {
    content: attr(data-notify);
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}
</style>
</head>

<body class="animsition">

<!-- HEADER -->
<header class="header-v4">
<div class="container-menu-desktop">
<nav class="limiter-menu-desktop container">

<a href="{% url 'home' %}" class="logo">
	<img src="{% static 'images/skinauralogo.jpg' %}">
</a>

<ul class="main-menu">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'product' %}">Shop</a></li>
	<li><a href="{% url 'cart' %}">Cart</a></li>
</ul>

<div class="wrap-icon-header flex-w flex-r-m">

<!-- ✅ UPDATED CART ICON -->
<a href="{% url 'cart' %}" 
   class="icon-header-item icon-header-noti"
   data-notify="{{ total_items }}">
    <i class="zmdi zmdi-shopping-cart"></i>
</a>

</div>

</nav>
</div>
</header>

<!-- CART TABLE -->
<div class="bg0 p-t-75 p-b-85">
<div class="container">
<div class="row">

<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
<div class="wrap-table-shopping-cart">

<table class="table-shopping-cart">

<tr class="table_head">
	<th>Product</th>
	<th>Name</th>
	<th>Price</th>
	<th>Quantity</th>
	<th>Total</th>
	<th>Remove</th>
</tr>

{% for item in cart_items %}
<tr>

<td>
	<img src="{{ item.product.image.url }}" width="80">
</td>

<td>
	{{ item.product.name }}
</td>

<td>
	₹ {{ item.product.price }}
</td>

<td>
	<form method="POST" action="{% url 'update_cart_item' item.id %}">
		{% csrf_token %}
		<input type="number" name="quantity"
		       value="{{ item.quantity }}" min="1"
		       onchange="this.form.submit()">
	</form>
</td>

<td>
	₹ {{ item.total_price }}
</td>

<td>
	<a href="{% url 'remove_item' item.id %}" style="color:red;">
		<i class="fa fa-trash"></i>
	</a>
</td>

</tr>
{% empty %}
<tr>
	<td colspan="6" style="text-align:center;">
		Your cart is empty 🛒
	</td>
</tr>
{% endfor %}

</table>

</div>
</div>

<!-- TOTAL -->
<div class="col-lg-5 m-lr-auto">

<div class="bor10 p-4">

<h4>Cart Total</h4>


<p><strong>Total Price:</strong> ₹ {{ cart.total_price }}</p>

<a href="#" class="btn btn-dark w-100">
	Proceed to Checkout
</a>

</div>

</div>

</div>
</div>
</div>
<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						<!-- Categories -->
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								<!-- Women -->
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								<!-- Men -->
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								<!-- Shoes -->
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								<!-- Watches -->
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="skinaura@gmail.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static 'images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>

<!-- SCRIPTS -->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>